<br/>
<a routerLink="/parameters/proponente-crear" class="btn btn-success">Agregar Registro</a>


<fieldset>
    <legend>Listado de Proponentes</legend>
<table>
    <thead>
        <tr>
    
<th>
    ID
</th>
<th>
    Documento
</th>
<th>
    Primer Nombre
</th>

<th>
    Otros nombres
</th>
<th>
    Primer apellido
</th>
<th>
    Segundo apellido
</th>
<th>
    Correo
</th>
<th>
    Celular
</th>
<th>
    ID tipo vinculacion
</th>
<th>
    ID Departamento
</th>
<th>
    Foto
</th>
<th>
    Acciones
</th>
</tr>

    </thead>
    <tbody>
<tr *ngFor="let r of recordList">
<td>
   {{r.id}} 
</td>
<td>
    {{r.documento}}
</td>
<td>
    {{r.PrimerNombre}}
</td>
<td>
    {{r.OtroNombre}}
</td>
<td>
    {{r.PrimerApellido}}
</td>
<td>
    {{r.SegundoApellido}}
</td>
<td>
    {{r.correo}}
</td>
<td>
    {{r.numCelular}}
</td>
<td>
    {{r.id_vinculacion}}
</td>
<td>
    {{r.id_departamento}}
</td>
<td>
    {{r.foto}}
</td>

<td>
    <a routerLink="/parameters/proponente-editar/{{r.id}}" class="btn btn-warning orange">Editar</a>
   &nbsp; <a routerLink="/parameters/proponente-remover/{{r.id}}" class="btn btn-warning red">Eliminar</a>

</td>

</tr>
    </tbody>
</table>
</fieldset>