<div class="row">
    <div class="row">
    <div class="input-field col s12">
   
   <strong>¿Esta seguro de eliminar el registro con la siguiente informacion?</strong>
   <br/>
   <ul>

    <li>
      Id: {{id}} 
    </li>
    <li>
       ID Solicitud: {{id_solicitud}} 
     </li>
     <li>
        Tipo: {{tipo}} 
      </li>
      <li>
        Resumen: {{resumen}} 
      </li>
      <li>
        Fecha: {{fecha}} 
      </li>
   </ul>


</div>
   
 
  <div class="row">
    <div class="col s12">
     <button type="button" class="btn btn-success" (click)="removeRecord()">Confirmar</button>
  &nbsp; <a class="btn btn-warning orange" routerLink="/parameters/recordatorio-listar">Cancelar</a>
    </div>
  </div>

</div>