
<fieldset>
  <legend>Asignar Jurado</legend>
<div class="row">
    
    <form [formGroup]="dataForm" class="col s12">

  
      <div class="input-field col s6">
        <select formControlName="jurado" id="selInvestigacion">
          <option *ngFor="let j of juradosList" value="{{j.id}}">{{j.nombre}}</option>
        </select>
        <label>Jurado</label>
      </div>
    <div class="row">
    <div class="input-field col s6">
      <input formControlName="invitacion"  id="txtInvitacion" type="date" >
      <label for="txtInvitacion">Fecha invitacion</label>
    </div>
    </div>
   
  
 
  

    
  
  
 
  <div class="row">
    <div class="col s12">
     <button type="button" class="btn btn-success" (click)="saveRecord()">Guardar</button>
  &nbsp; <a class="btn btn-warning orange" routerLink="../solicitudes/solicitudes-listar">Cancelar</a>
    </div>
  </div>
  </form>

</div>

</fieldset>
<br>
<br>