<!--

<br/>
<a routerLink="/parameters/solicitudes/resultado-evaluacion/jurado-crear" class="btn btn-success">Agregar Registro</a>


<fieldset>
    <legend>Listado de Solicitudes por solicitudes</legend>
<table>
    <thead>
        <tr>
    
<th>
    ID
</th>

<th>
    Fecha Radicado
</th>
<th>
    Nombre trabajo
</th>
<th>
    ID modalidad
</th>
<th>
ID tipos comite
</th>
<th>
    ID linea Investigacion
</th>
<th>
    Archivo .zip
</th>
<th>
    Descripcion
</th>
<th>
    ID tipo de solicitud
</th>
<th>
    ID proponente
</th>

<th>
    Acciones
</th>
</tr>

    </thead>
    <tbody>
<tr *ngFor="let r of recordList">
<td>
   {{r.id}} 
</td>
<td>
    {{r.fecha_radicado}}
</td>
<td>
    {{r.nombre_trabajo}}
</td>
<td>
    {{r.id_modalidad}}
</td>
<td>
    {{r.tipoComites}}
</td>
<td>
    {{r.id_lineaInvestigacion}}
 
</td>
<td>
    {{r.archivo}}
</td>
<td>
    {{r.descripcion}}
</td>
<td>
    {{r.id_tipoSolicitud}}
</td>
<td>
    {{r.id_proponente}}
</td>

</tr>
    </tbody>
</table>
</fieldset>-->