<!-- 
<nav>
    <div class="nav-wrapper teal darken-2">
      <a routerLink="/home" class="brand-logo">Inicio</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="activeSession"><a routerLink="reportes/modalidad-listar">Reportes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/recordatorio-listar">Recordatorio</a></li>
        <li *ngIf="activeSession"><a routerLink="solicitudes/solicitudes-listar">Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/jurado-listar">Jurado</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/proponente-listar">Proponente</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/modalidad-listar">Modalidad</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/comite-listar">Comites</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/tsolicitud-listar">Tipo Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/investigacion-listar">Lineas Investigacion</a></li>

        <li *ngIf="activeSession"><a routerLink="parameters/facultad-listar">Facultad</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/departamento-listar">Departamento</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/vinculacion-listar">Tipo vinculacion Prop</a></li>


        
        <li *ngIf="!activeSession"><a routerLink="security/login">Login</a></li>
        <li *ngIf="activeSession"><a routerLink="security/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="activeSession"><a routerLink="solicitudes/solicitudes-listar">Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/jurado-listar">Jurado</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/proponente-listar">Proponente</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/modalidad-listar">Modalidad</a></li>
        <li *ngIf="activeSession"><a routerLink="reportes/modalidad-listar">Reportes</a></li>
       
        <li *ngIf="activeSession"><a routerLink="parameters/comite-listar">Comites</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/tsolicitud-listar">Tipo Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/investigacion-listar">Lineas Investigacion</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/recordatorio-listar">Recordatorio</a></li>
        <li *ngIf="!activeSession"><a routerLink="security/login">Login</a></li>
        <li *ngIf="activeSession"><a routerLink="security/logout">Logout</a></li>
  </ul>

  -->



  <nav class="nav-extended">
    <div class="nav-wrapper  white">
      <img class="responsive-img" src="../../../../assets/imgs/logoUcaldas.png">
      
      <a  routerLink="/home" class="brand-logo inicio"><span class="blue-text text-darken-2">INICIO</span></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="!activeSession"><a routerLink="security/login"><span class="blue-text text-darken-2">Login</span></a></li>
        <li *ngIf="activeSession"><a routerLink="security/logout"><span class="blue-text text-darken-2">Logout</span></a></li>
      </ul>
    </div>

    <div class="nav-wrapper  light-blue darken-4">
      
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="activeSession"><a routerLink="reportes/modalidad-listar">Reportes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/recordatorio-listar">Recordatorio</a></li>
        <li *ngIf="activeSession"><a routerLink="solicitudes/solicitudes-listar">Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/jurado-listar">Jurado</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/proponente-listar">Proponente</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/modalidad-listar">Modalidad</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/comite-listar">Comites</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/tsolicitud-listar">Tipo Solicitudes</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/investigacion-listar">Lineas Investigacion</a></li>

        <li *ngIf="activeSession"><a routerLink="parameters/facultad-listar">Facultad</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/departamento-listar">Departamento</a></li>
        <li *ngIf="activeSession"><a routerLink="parameters/vinculacion-listar">Tipo vinculacion Prop</a></li>

      </ul>
    </div>

  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>

  