
<div class="row">
    <form [formGroup]="dataForm" class="col s12">
        <div class="row">
            <div class="input-field col s6">
              <input formControlName="solicitud"  id="txtSolicitud" type="number" >
              <label for="txtSolicitud">ID Evaluacion Solicitud</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input formControlName="jurado"  id="txtJurado" type="number" >
                  <label for="txtJurado">Resultado</label>
                </div>
              </div>
        <div class="row">
        <div class="input-field col s12">
          <input formControlName="invitacion"  id="txtInvitacion" type="text" >
          <label for="txtInvitacion">Formato diligenciado</label>
        </div>
       
      <div class="row">
        <div class="col s12">
         <button type="button" class="btn btn-success" (click)="saveRecord()">Guardar</button>
      &nbsp; <a class="btn btn-warning orange" routerLink="/solicitudes/solicitudes/solicitudes-listar">Cancelar</a>
        </div>
      </div>
 
  </div>
