<br />
<a routerLink="/solicitudes/solicitudes-crear" class="btn btn-success">Agregar Registro</a>

<fieldset>
    <legend>Listado de Modalidades</legend>
    <table>
        <thead>
            <tr>

                <th>
                    ID
                </th>
                <th>
                    Fecha Radicado
                </th>
                <th>
                    Nombre Trabajo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Tipo Solicitud
                </th>
                <th>
                    Modalidad
                </th>
                <th>
                    Linea Investigacion
                </th>
                <th>
                    Comites
                </th>
                <th>
                    Fecha Recordatorio
                </th>
                <th>
                    Fecha Invitacion  Jurado
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let r of recordList">
                <td>
                    {{r.id}}
                </td>
                <td>
                    {{r.fecha_radicado}}
                </td>
                <td>
                    {{r.nombre_trabajo}}
                </td>
                <td>
                    {{r.descripcion}}
                </td>
                <td>
                    {{r.tipoSolicitudes?.nombre}}
                </td>
                <td>
                    {{r.modalidades?.nombre}}
                </td>
                <td>
                    {{r.tiene_LineaInvesitgacion?.nombre}}
                </td>
                <td>
                    <ul>
                        <li *ngFor="let r of r.tipoComites">{{r.nombre}}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let r of r.recordatorios">{{r.fecha}}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let r of r.evaluacionSolicitudes">{{r.fecha_invitacion}}</li>
                    </ul>
                </td>

                <td>
                    <a routerLink="/solicitudes/solicitudes-editar/{{r.id}}" class="btn btn-warning orange">Editar</a>
                    &nbsp;<a routerLink="/solicitudes/solicitudes-anular/{{r.id}}"
                        class="btn btn-warning red">Eliminar</a>

                </td>
            </tr>
        </tbody>
    </table>
</fieldset>